<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>1.0</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>5866DFF2-B59B-4A47-B234-C1F0D2404429</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34E292E7-B8DB-45F9-9C2D-68D92A4A583D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5430C02C-9B2A-4EC9-A04C-BB85216CE35C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>90B7684F-5210-4420-A3A8-DD8EC398B1B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A906A044-71D9-4038-B857-5CD2C0E07523</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DEC81702-E6C4-47FA-A94A-03E488C6B95B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A209CD4A-5ED5-4E91-A786-85C190DC8729</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9FBA71A-4128-46DA-BE33-FE1FA8279326</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C1F10F0E-F492-4A12-8538-5204C48B7A6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC22C559-73A6-4148-9AE4-5DDB53EC8414</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CCAB609B-D06F-4058-962E-9AEE5B69BDC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E9FBA71A-4128-46DA-BE33-FE1FA8279326</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EF214E8-D7D3-4217-9D26-7A3EB4714243</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8409C551-227C-410C-8C70-F2D636FEDE19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC6CDE98-837C-47E3-96C2-DEF7DD16E3D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EF214E8-D7D3-4217-9D26-7A3EB4714243</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brian Fleming</string>
	<key>description</key>
	<string>AWS Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>aws</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>ec2 find</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python entrypoint.py "{query}" "ec2_gen_search" "ip_address"</string>
				<key>title</key>
				<string>ec2 find</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C1F10F0E-F492-4A12-8538-5204C48B7A6F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EC22C559-73A6-4148-9AE4-5DDB53EC8414</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CCAB609B-D06F-4058-962E-9AEE5B69BDC5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#!/usr/bin/python
# encoding: utf-8

import sys

from workflow import Workflow
import entrypoint

log = None

if __name__ == '__main__':
    wf = Workflow()
    # Assign Workflow logger to a global variable for convenience
    log = wf.logger
    #sys.exit(wf.run(entrypoint.main))
    entrypoint.run_aws_save_config("{query}")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EC6CDE98-837C-47E3-96C2-DEF7DD16E3D9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ec2 config</string>
				<key>text</key>
				<string>e.g. region=us-west-2,name1=value1,name2=value2</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A209CD4A-5ED5-4E91-A786-85C190DC8729</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Configuration saved.</string>
				<key>title</key>
				<string>Saved</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8EF214E8-D7D3-4217-9D26-7A3EB4714243</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python entrypoint.py "{query}" aws_save_config</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E9FBA71A-4128-46DA-BE33-FE1FA8279326</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>8409C551-227C-410C-8C70-F2D636FEDE19</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ec2 start</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python entrypoint.py "{query}" "ec2_gen_search" "id"</string>
				<key>title</key>
				<string>ec2 start</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>90B7684F-5210-4420-A3A8-DD8EC398B1B2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query} copied to clipboard</string>
				<key>title</key>
				<string>Start command sent.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A906A044-71D9-4038-B857-5CD2C0E07523</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ec2 stop</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python entrypoint.py "{query}" "ec2_gen_search" "id"</string>
				<key>title</key>
				<string>ec2 stop</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5866DFF2-B59B-4A47-B234-C1F0D2404429</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python entrypoint.py {query} ec2_start_instance</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>DEC81702-E6C4-47FA-A94A-03E488C6B95B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query} copied to clipboard</string>
				<key>title</key>
				<string>Stop command sent.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>34E292E7-B8DB-45F9-9C2D-68D92A4A583D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python entrypoint.py {query} ec2_stop_instance</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>5430C02C-9B2A-4EC9-A04C-BB85216CE35C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>34E292E7-B8DB-45F9-9C2D-68D92A4A583D</key>
		<dict>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>5430C02C-9B2A-4EC9-A04C-BB85216CE35C</key>
		<dict>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>5866DFF2-B59B-4A47-B234-C1F0D2404429</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>8409C551-227C-410C-8C70-F2D636FEDE19</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>8EF214E8-D7D3-4217-9D26-7A3EB4714243</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>90B7684F-5210-4420-A3A8-DD8EC398B1B2</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>A209CD4A-5ED5-4E91-A786-85C190DC8729</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A906A044-71D9-4038-B857-5CD2C0E07523</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>C1F10F0E-F492-4A12-8538-5204C48B7A6F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CCAB609B-D06F-4058-962E-9AEE5B69BDC5</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DEC81702-E6C4-47FA-A94A-03E488C6B95B</key>
		<dict>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>E9FBA71A-4128-46DA-BE33-FE1FA8279326</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>EC22C559-73A6-4148-9AE4-5DDB53EC8414</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EC6CDE98-837C-47E3-96C2-DEF7DD16E3D9</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
